<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Authentification</title>
  
</head>
<body>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/1367070274710028292/9HNgSfux_400x400.png" alt="Logo ESP Dakar" class="logo">
        <h2>Connexion</h2>
        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="username" name="username" placeholder="Nom d'utilisateur">
            <input type="password" formControlName="password" name="password" placeholder="Mot de passe">
            <input type="submit" value="Se Connecter">
        </form>
    </div>
</body>
</html>